server:
  port: 8761
eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://localhost:8761
  server:
    waitTimeInMsWhenSyncEmpty: 0

spring:
  application:
    name: eureka-server

