server:
  port: 8888

spring:
  application:
    name: configServer

  cloud:
    config:
      server:
        git:
          uri: https://github.com/adrianolego/ProjetoArquitetural.git
          search-paths: configs

